<header>
    <h1>Logo</h1>
    <nav>
        <ul>
            {% if request.session.client %}
                <li><a href="{% url 'membre'  %}">Accueil</a></li>
                <li><a href="">A Propos</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="{% url 'deconnection' %}">deconnection</a></li>
                <li>
                    <a href="">{{request.session.client.pseudo}}</a>
                </li>
                <li>
                    <img src="../{{request.session.client.photo}}" alt="" style="width: 50px;height:50px;border-radius: 100%;">
                </li>
             
            {% else %}
            <li><a href="{% url 'home'  %}">Accueil</a></li>
            <li><a href="">A Propos</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="{% url 'inscription'  %}">Connection</a></li>
            {% endif %}
            <li>
                <button id="mode" ><img class="img_nuit" src="../../static/images/nuit.webp" alt=""></button>
                {% comment %} <button id="mode1" class="img_jour"><img id="img_jour"  src="" alt=""></button> {% endcomment %}
            </li>
        </ul>
        
    </nav>
</header>
<style>
    button img{
        width: 20px;
        height:20px;
    }
    button {
        border:none;

    }
    
</style>